@import './variable';
@import './mixin.scss';
.products-wrapper {
  margin-top: 20px;
  background-color: #fff;

  .products-item {
    display: flex;
    padding: 0 20px;
    height: 120px;
    align-items: center;
    position: relative;
    i {
      font-size: 50px;
      color: #ccc;
      cursor: pointer;
      &.is-active {
        color: $base_primary_color;
      }
    }
    &::after {
      @include border-1px;
    }
    @at-root {
      .products-item__left, .products-item__right {
        display: flex;
        align-items: center;
        height: 100%;
        i {
          font-size: 45px;
        }
      }
      .products-item__left {
        flex: 1;
        display: flex;
        align-items: center;
        h3 {
          color: #333;
          margin-left: 20px;
        }
      }
      .products-item__right {
        p {
          color: #333;
          width: 30px;
          text-align: center;
          margin: 0 10px;
        }
      }
    }
  }
}